<!-- views/partials/head.ejs -->

<head>
    <title>View | Servidor node</title>
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/assets/bootstrap.min.css"> -->
    <!-- <link href="/assets/video-js.min.css" rel="stylesheet"> -->
    <link href="/assets/css/vendor/videojs/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">
    <style>
    </style>

</head>