<!-- footer.ejs -->

<footer style="padding: 20px; border-top: 1px solid #eee; margin-top: 25px;">
    <div class="container">
      <div class="text-muted text-center">
        Copyright © 2015 Bryan Willis
      </div>
    </div>
    <% include footer-scripts %>
  </footer>