
<!-- myfilms/partials/head -->

<head>

    <title>
        <%= config.title %>
    </title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap/bootstrap-theme.min.css">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/assets/css/vendor/myfilms/styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">

    <!-- JQUERY -->
    <script src="/assets/js/vendor/jquery/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/assets/js/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- CUSTOM JS -->
    <script type="text/javascript" src="/assets/js/vendor/myfilms/config.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/myfilms/scripts.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

</head>