<!-- myfilms/partials/nav.ejs -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Ver Pelis Pack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
         
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Search
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/myfilms/search">In My Films</a>
                    <a class="dropdown-item" href="/search">In External Api</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>


        <form class="form-inline">
           
            <div class="form-group mx-sm-3 mb-2" method="GET" action="/search" >
                <label for="inputPassword2" class="sr-only">Search</label>
                <input type="text" class="form-control" name="term" id="search_input" type="search" placeholder="Search" aria-label="Search">
            </div>
            <button type="submit" class="btn btn-outline-success mb-2">Search</button>
        </form>
    </div>
</nav>